<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <th scope="col" th:fragment="sortHeader(header, column)">[[${header}]]
            <a th:href="@{/product(pageNum=${products.getPageable().getPageNumber() + 1}
                                                     , pageSize=${products.size}
                                                     , minPrice=${param.minPrice}
                                                     , maxPrice=${param.maxPrice}
                                                     , sortType=${sortType}
                                                     , sortField=${column}
                                               )
                                             }" >
                <i id="sortTitle" th:classappend="${sortType.equals('asc')}? 'fa-sort-down':'fa-sort-up'" class="fa"></i></a>
        </th>

        <head th:fragment="pageHeader">
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
            <title>EShop application</title>
        </head>

</html>